/*RAFAEL BREMM MEYER*/
.Mbody{
margin-left: 15%;
margin-right: 15%;
background-color: #0F172A; 
 font-family: 'Inter', sans-serif; 
 line-height: 1.6;
}
.Mtitle{
    font-family: 'Space Grotesk', sans-serif;
    color:#F8FAFC;
    font-size: 250%;
    font-weight: 700;
    border-bottom: 2px solid white;
}
.Mtexts{
    color: #94A3B8;
    font-size: 200%;
}
.Mcomment{
    color: gray;
    text-align: right;
    margin-top: -2%;
    font-size: 110%;
      font-family: 'Inter', sans-serif;
  font-style: italic;
}
.Msection{
    margin-bottom: 6%;
}
.Mli{
    margin-bottom: 2%;
}
.Mstrong{
    color: #c8d8ef;
}
.Msecionadores{
border: 2px solid black;
background-color: rgb(159, 158, 158);
margin-top: 2%;
border-radius: 15px;
padding-top: 0.7%;
padding-bottom: 0.7%;
}
.Mdirecionador{
color: #0F172A;
margin-left: 5%;
border: 1px black;
background-color: whitesmoke;
padding: 0.3%;
border-radius: 10px;
}
/*FIM*/


.Hbody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    margin: 0;
    text-align: center;
}

.Hheader {
    background-color: #114174;
    color: white;
    padding: 20px;
}

.Hmain {
    max-width: 900px;
    margin: 20px auto;
}

.Hbanner {
    background-color: rgb(225, 225, 225);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 34, 255, 0.544);
}

.Hcaixa {
    background-color: rgb(225, 225, 225);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 34, 255, 0.544);
}


.Hfooter {
    background-color: #052d55;
    color: white;
    padding: 15px;
    margin-top: 30px;
    margin-left: 9%;
    margin-right: 9%;
    border-radius: 5px;
}

.Hbody:before,
.Hbody:after {
    content: "";
    position: fixed;
    top: 0;
    width: 60px;
    height: 100%;
    background-color: #103b62;
    z-index: -1;
}

.Hbody::before {
    left: 0;
}

.Hbody::after {
    right: 0;
}
