/*RAFAEL BREMM MEYER*/
.Mbody{
margin-left: 15%;
margin-right: 15%;
background-color: #0F172A; 
 font-family: 'Inter', sans-serif; 
 line-height: 1.6;
}
.Mtitle{
    font-family: 'Space Grotesk', sans-serif;
    color:#F8FAFC;
    font-size: 250%;
    font-weight: 700;
    border-bottom: 2px solid white;
}
.Mtexts{
    color: #94A3B8;
    font-size: 200%;
}
.Mcomment{
    color: gray;
    text-align: right;
    margin-top: -2%;
    font-size: 110%;
      font-family: 'Inter', sans-serif;
  font-style: italic;
}
.Msection{
    margin-bottom: 6%;
}
.Mli{
    margin-bottom: 2%;
}
.Mstrong{
    color: #c8d8ef;
}
.Msecionadores{
border: 2px solid black;
background-color: rgb(159, 158, 158);
margin-top: 2%;
border-radius: 15px;
padding-top: 0.7%;
padding-bottom: 0.7%;
}
.Mdirecionador{
color: #0F172A;
margin-left: 5%;
border: 1px black;
background-color: whitesmoke;
padding: 0.3%;
border-radius: 10px;
}
/*FIM*/
